aiohappyeyeballs
aiohttp
aiosignal
albucore
albumentations
annotated-doc
annotated-types
anyio
asttokens
async-timeout
attrs
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
datasets
debugpy
decorator
dill
exceptiongroup
executing
fastapi
filelock
fonttools
frozenlist
fsspec
h11
hf-xet
httpcore
httpx
huggingface-hub
idna
ipykernel
ipython
ipywidgets
jedi
jinja2
joblib
jupyter-client
jupyter-core
jupyterlab-widgets
kiwisolver
markdown-it-py
markupsafe
matplotlib
matplotlib-inline
mdurl
mpmath
multidict
multiprocess
nest-asyncio
networkx
numpy
opencv-python
opencv-python-headless
packaging
pandas
parso
pillow
pip
platformdirs
polars
polars-runtime-32
prompt-toolkit
propcache
psutil
pure-eval
pyarrow
pydantic
pydantic-core
pygments
pyparsing
python-dateutil
pytz
pyyaml
pyzmq
requests
rich
scikit-learn
scipy
setuptools
shellingham
simsimd
six
stack-data
starlette
stringzilla
sympy
threadpoolctl
torch
torchvision
tornado
tqdm
traitlets
typer
typing-extensions
typing-inspection
tzdata
ultralytics
ultralytics-thop
urllib3
uvicorn
wcwidth
widgetsnbextension
xxhash
yarl